---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1 class="text-white text-center">
        About the project Expaces Lounches 🚀
    </h1>
    <p class="text-white text-center">The Xpacex Lounches Astro curse</p>
</Layout>
